# First, ignore everything
/*

# Include here
!.gitignore
!pictures
!LICENSE
!README.md
!flatpaks.sh
!.Xresources
!/scripts
!/themes

# Subdirectory
!/.config
/.config/*
!/.config/sway
!/.config/polybar
!/.config/waybar
!/.config/rofi
!/.config/wofi
!/.config/mako
!/.config/flavours
!/Images
/Images/*
!/Images/Wallpapers