# First, ignore everything
/*

# Include here
!.gitignore
!pictures
!LICENSE
!README.md
!.xprofile
!.Xresources
!.xinitrc
!/scripts
!/themes

# Subdirectory
!/.config
/.config/*
!/.config/picom.conf
!/.config/i3
!/.config/sway
!/.config/polybar
!/.config/waybar
!/.config/rofi
!/.config/wofi