# First, ignore everything
/*

# Include here
!.gitignore
!pictures
!LICENSE
!README.md
!.xprofile
!.Xresources
!.xinitrc
!/scripts

# Subdirectory
!/.config
/.config/*
!/.config/i3
!/.config/polybar
!/.config/rofi