URxvt*font:                 xft:DejaVu Sans Mono for Powerline:pixelsize=12
URxvt*imFont:               xft:DejaVu Sans Mono for Powerline:pixelsize=12 
URxvt*boldFont:             xft:DejaVu Sans Mono for Bold Powerline:pixelsize=12
URxvt*italicFont:           xft:DejaVu Sans Mono for Oblique Powerline:pixelsize=12
URxvt*boldItalicFont:       xft:DejaVu Sans Mono for Bold Oblique Powerline:pixelsize=12

URxvt*letterSpace: -1
URxvt*allow_bold: true

URxvt*scrollBar: false
