#include "./themes/nord"

URxvt*font:                 xft:DejaVu Sans Mono for Powerline:pixelsize=12
URxvt*imFont:               xft:DejaVu Sans Mono for Powerline:pixelsize=12 
URxvt*boldFont:             xft:DejaVu Sans Mono for Bold Powerline:pixelsize=12
URxvt*italicFont:           xft:DejaVu Sans Mono for Oblique Powerline:pixelsize=12
URxvt*boldItalicFont:       xft:DejaVu Sans Mono for Bold Oblique Powerline:pixelsize=12

URxvt*letterSpace: -1
URxvt*allow_bold: true

URxvt*scrollBar: false

URxvt.perl-ext-common: default,clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.Shift-Control-V: perl:clipboard:paste


rofi.color-enabled: true
rofi.color-window: argb:e8222D32,argb:00292f37,#EBCB8B
rofi.color-normal: argb:02000000,#D8DEE9,argb:02000000,argb:02000000,#EBCB8B
rofi.color-active: argb:02000000,#D8DEE9,argb:02000000,argb:02000000,#D8DEE9
rofi.color-urgent: argb:02000000,#D8DEE9,argb:02000000,argb:02000000,#D8DEE9

rofi.hide-scrollbar: true
rofi.show-icons: true