/*
Dracula Color Scheme
*/

*{
    font-family: UbuntuMono;
}

#window {
    border: 1px solid #bd93f9;
    margin: 0px 5px 0px 5px;
    background-color: #282a36;
}

#inner-box {
    background-color: #282a36;
}

#outer-box {
    margin: 5px;
    padding:10px;
    background-color: #282a36;
    margin-top: -22px;
}

#text {
    padding: 5px;
    color: #f8f8f2;
}

/* #entry:nth-child(even) {
    background-color: #44475a;
} */

#entry:selected {
    background-color: #44475a;
}
